<main>
    <div class="note-section">
         <div class="dash-nav">
            <ul class="dash-li">
                <li><a href="/records"><i class='bx bxs-chevrons-left'></i></a></li>
            </ul>
        </div>
        <div class="note-form">
            {{#with note}}
            <input type="text" id="name" name="name" value="{{name}}" readonly>
            <textarea readonly id="description" name="description">{{description}}</textarea>
            <div class="details-options">
               <div class="options-select">
                    <p class="details-type">{{typeRelated}}</p>
                    <input type="date" value="{{date}}" name="date" readonly>
                </div>
                <div class="submit-container">
                    <a class="details-btn" href="/notes/{{_id}}/edit">Edit</a>
                    <a class="details-btn" href="/notes/{{_id}}/delete">Delete</a>
                </div>
            </div>
            {{/with}}
        </div>
    </div>
</main>