<main>
    <div class="note-section">
        <h1>Edit Note</h1>
        <div class="form">
            <form method="POST">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" value="{{note.name}}">
                <label for="name">Description</label>
                <textarea id="description" name="description">{{note.description}}</textarea>
                <select id="type-related" name="typeRelated">
                    {{#each options}}
                    <option value="{{value}}" {{#if selected}}selected{{/if}}>{{title}}</option>
                    {{/each}}
                    {{!-- <option value="personal">Personal</option>
                    <option value="work">Work</option> --}}
                </select>
                <input type="date" value="{{note.date}}" name="date">
                <input type="submit" value="Create">
            </form>
        </div>
    </div>
</main>