<main>
    <div class="note-section">
        <div class="note-form">
            <form method="POST">
                <input type="text" id="name" name="name" value="{{note.name}}">
                <textarea id="description" name="description">{{note.description}}</textarea>
                <div class="options">

                    <select id="type-related" name="typeRelated">
                        {{#each options}}
                        <option value="{{value}}" {{#if selected}}selected{{/if}}>{{title}}</option>
                        {{/each}}
                    </select>
                    <input type="date" value="{{note.date}}" name="date">
                    <div class="submit-container">
                        <a class="btn" href="/records">Back</a>
                        <input type="submit" value="Edit">
                        <a class="btn" href="/notes/{{_id}}/delete">Delete</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>