<main>
    <div class="details-section">
        <h1>{{note.name}}</h1>
        <div class="details">
            <p><span>Description: </span>{{note.description}}</p>
            <p><span>Type: </span>{{note.typeRelated}}</p>
            <p><span>Date: </span>{{note.date}}</p>
            <a class="btn" href="/records">Back</a>
            {{#if isOwner}}
            <a class="btn" href="/notes/{{_id}}/edit">Edit</a>
            <a class="btn" href="/notes/{{_id}}/delete ">Delete</a>
            {{/if}}
        </div>
    </div>
</main>