<main>
    <div class="note-section">
        <div class="note-form">
            <form method="POST">
                <input type="text" id="name" name="name" value="{{note.name}}">
                <textarea id="description" name="description">{{note.description}}</textarea>
                <div class="options">
                    <select id="type-related" name="typeRelated">
                        {{#each options}}
                        <option value="{{value}}" {{#if selected}}selected{{/if}}>{{title}}</option>
                        {{/each}}
                    </select>
                    <input type="date" value="{{note.date}}" name="date">
                     <div class="submit-container">
                        <input type="submit" value="Save">
                    </div>
                </div>
            </form>
        </div>
</main>